%h2= Peak.model_name.human
- @peaks.each_with_index do |peak, i|
  = render peak, :abstract => true, :number => i + 1

%h2= Equipment.model_name.human

- @equipments.each_with_index do |equipment, i|
  = render equipment, :abstract => true, :number => i + 1

