%h1= t('operations.editing_model', :model => Equipment.model_name.human)

= render 'form', :equipment => @equipment

= link_to t('operations.show'), @equipment
\|
= link_to t('operations.back'), equipments_path
