$font_family: Verdana, Arial, Helvetica, sans-serif
$color: #393939
$link_color: #000777

@mixin clearfix
  &:after
    content: "."
    display: block
    height: 0
    clear: both
    visibility: hidden
@mixin box_shadow
  -webkit-box-shadow: 3px 3px 3px rgba(135, 139, 144, 0.4)
  -moz-box-shadow: 3px 3px 3px rgba(135, 139, 144, 0.4)
  box-shadow: 3px 3px 3px rgba(135, 139, 144, 0.4)

#google_map
  width: 100%

.equipment
  @include clearfix
  .sub
    margin: 0 10px 0 0
    float: left
    .picture
      position: relative
      width: 180px
      height: 180px
      line-height: 180px
      margin: 5px
      padding: 4px
      vertical-align: middle
      text-align: center
      border:
        right: 1px solid #e0e0e0
        bottom: 1px solid #e0e0e0
      img
        vertical-align: middle
      .number_tag
        position: absolute
        line-height: 12px
        top: 10px
        left: 10px
  .main
    float: left
    width: 700px
    border:
      bottom: 1px solid #e0e0e0
    .name
      margin: 24px 0 0 0
      font-weight: bold
      font-size: 14px
      line-height: 19px
    .content
      margin: 14px 0 0 0
      padding: 0 0 0 10px
      height: 40px
      width: 100%
      overflow: hidden
    ul.equipment_items
      margin: 14px 0 0 0
      padding: 0 0 10px 10px
      width: 100%
      li
        margin: 0 0 0 30px
      &.abstract
        height: 72px


.equipment_item
  @include clearfix
  .sub
    margin: 0 10px 0 0
    float: left
    .picture
      position: relative
      width: 180px
      height: 180px
      line-height: 180px
      margin: 5px
      padding: 4px
      vertical-align: middle
      text-align: center
      border:
        right: 1px solid #e0e0e0
        bottom: 1px solid #e0e0e0
      img
        vertical-align: middle
      .number_tag
        position: absolute
        line-height: 12px
        top: 10px
        left: 10px
  .main
    float: left
    width: 700px
    border:
      bottom: 1px solid #e0e0e0
    .stars
      margin: 24px 0 0 0
      padding: 0 0 0 10px
      width: 60px
      float: left
      line-height: 19px
    .name
      margin: 24px 0 0 70px
      font-weight: bold
      font-size: 14px
      line-height: 19px
    .content
      margin: 14px 0 0 0
      padding: 0 0 0 10px
      height: 40px
      width: 100%
      overflow: hidden
    ul.products
      margin: 14px 0 0 0
      padding: 0 0 10px 10px
      width: 100%
      li
        margin: 0 0 0 30px
      &.abstract
        height: 72px

form
  h3.as_label
    margin: 0
  .field
    @include clearfix
    input[type="text"]
      &.equipment_item_name_field
        display: block
        float: left
        width: 100px
        margin: 0 4px 0 0
      &.equipment_item_content_field
        display: block
        float: left
        width: 540px
        margin: 0 4px 0 0
    .stars
      margin: 4px 0
      float: left
