$font_family: Verdana, Arial, Helvetica, sans-serif
$color: #393939
$link_color: #000777

@mixin clearfix
  &:after
    content: "."
    display: block
    height: 0
    clear: both
    visibility: hidden
@mixin box_shadow
  -webkit-box-shadow: 2px 2px 3px rgba(135, 139, 144, 0.4)
  -moz-box-shadow: 2px 2px 3px rgba(135, 139, 144, 0.4)
  box-shadow: 2px 2px 3px rgba(135, 139, 144, 0.4)

#google_map
  width: 100%

.equipment_item
  @include clearfix
  .picture
    float: left
    width: 200px
    height: 200px
    line-height: 200px
    vertical-align: middle
    text-align: center
    img
      vertical-align: middle
      padding: 9px
      border: 1px solid #f7f7f7
      @include box_shadow
  .name
    width: 140px
    float: left
  .content
    margin: 0 0 0 200px
  .stars
    width: 60px
    float: left
  ul.products
    margin: 10px 0 0 200px
    width: 100%

form
  .field
    @include clearfix
    input[type="text"]
      &.equipment_item_name_field
        display: block
        float: left
        width: 100px
        margin: 0 4px 0 0
      &.equipment_item_content_field
        display: block
        float: left
        width: 400px
        margin: 0 4px 0 0
    .stars
      margin: 4px 0
      float: left
