$font_family: Verdana, Arial, Helvetica, sans-serif
$color: #393939
$link_color: #000777

@mixin clearfix
  &:after
    content: "."
    display: block
    height: 0
    clear: both
    visibility: hidden

#global_container
  @include clearfix
  width: 100%
  #head_container
    width: 100%
    .inner
      position: relative
      margin: 10px
      h1, h2
        margin: 10px 0 0
        color: #000
        font-size: 18px
        font-family: "Times New Roman", serif
        a
          color: #000
          text-decoration: none
      #sign_up_or_in
        position: absolute
        top: 0
        right: 0px
      #locales
        position: absolute
        top: 24px
        right: 0px
      p#abstract
        margin: 0
    border-bottom: 1px solid #ccc
  #main_container
    float: right
    width: 80%
    .inner
      margin: 10px
  #side_container
    float: right
    width: 20%
    .inner
      margin: 10px
  #foot_container
    clear: both
    width: 100%
    padding: 30px 0 0
    .inner
      padding: 20px 0
      border-top: 1px solid #ccc
      #credit
        text-align: center
