$font_family: Verdana, Arial, Helvetica, sans-serif
$color: #393939
$link_color: #000777

@mixin clearfix
  &:after
    content: "."
    display: block
    height: 0
    clear: both
    visibility: hidden

#global_container
  #body_container
    margin-top: 60px

/* modify bootstrap structures */
.topbar .fill
  background-color: #222288
  background-repeat: repeat-x
  background-image: -khtml-gradient(linear, left top, left bottom, from(#3333aa), to(#222288))
  background-image: -moz-linear-gradient(top, #3333aa, #222288)
  background-image: -ms-linear-gradient(top, #3333aa, #222288)
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3333aa), color-stop(100%, #222288))
  background-image: -webkit-linear-gradient(top, #3333aa, #222288)
  background-image: -o-linear-gradient(top, #3333aa, #222288)
  background-image: linear-gradient(top, #3333aa, #222288)
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1)
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1)
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1)

/* modify jquery extensions */
select.datetime_hour_select,
select.datetime_min_select,
select.datetime_ampm_select
  width: 60px
