#google_map {
  width: 100%; }

.equipment_item:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }
.equipment_item .sub {
  margin: 0 20px 0 0;
  float: left; }
  .equipment_item .sub .picture {
    width: 180px;
    height: 180px;
    line-height: 180px;
    margin: 5px;
    padding: 4px;
    vertical-align: middle;
    text-align: center;
    border: 1px solid #f7f7f7;
    -webkit-box-shadow: 3px 3px 3px rgba(135, 139, 144, 0.4);
    -moz-box-shadow: 3px 3px 3px rgba(135, 139, 144, 0.4);
    box-shadow: 3px 3px 3px rgba(135, 139, 144, 0.4); }
    .equipment_item .sub .picture img {
      vertical-align: middle; }
.equipment_item .main {
  float: left; }
  .equipment_item .main .stars {
    margin: 24px 0 0 0;
    width: 60px;
    float: left;
    line-height: 19px; }
  .equipment_item .main .name {
    margin: 24px 0 0 60px;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px; }
  .equipment_item .main .content {
    margin: 14px 0 0 0;
    height: 40px;
    width: 100%; }
  .equipment_item .main ul.products {
    margin: 14px 0 0 0;
    width: 100%; }

form .field:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }
form .field input[type="text"].equipment_item_name_field {
  display: block;
  float: left;
  width: 100px;
  margin: 0 4px 0 0; }
form .field input[type="text"].equipment_item_content_field {
  display: block;
  float: left;
  width: 400px;
  margin: 0 4px 0 0; }
form .field .stars {
  margin: 4px 0;
  float: left; }
