#google_map {
  width: 100%; }

.equipment:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }
.equipment .sub {
  margin: 0 10px 0 0;
  float: left; }
  .equipment .sub .picture {
    position: relative;
    width: 180px;
    height: 180px;
    line-height: 180px;
    margin: 5px;
    padding: 4px;
    vertical-align: middle;
    text-align: center;
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0; }
    .equipment .sub .picture img {
      vertical-align: middle; }
    .equipment .sub .picture .number_tag {
      position: absolute;
      line-height: 12px;
      top: 10px;
      left: 10px; }
.equipment .main {
  float: left;
  width: 700px;
  border-bottom: 1px solid #e0e0e0; }
  .equipment .main .name {
    margin: 24px 0 0 0;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px; }
  .equipment .main .content {
    margin: 14px 0 0 0;
    padding: 0 0 0 10px;
    height: 40px;
    width: 100%;
    overflow: hidden; }
  .equipment .main ul.equipment_items {
    margin: 14px 0 0 0;
    padding: 0 0 10px 10px;
    width: 100%; }
    .equipment .main ul.equipment_items li {
      margin: 0 0 0 30px; }
    .equipment .main ul.equipment_items.abstract {
      height: 72px; }

.equipment_item:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }
.equipment_item .sub {
  margin: 0 10px 0 0;
  float: left; }
  .equipment_item .sub .picture {
    position: relative;
    width: 180px;
    height: 180px;
    line-height: 180px;
    margin: 5px;
    padding: 4px;
    vertical-align: middle;
    text-align: center;
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0; }
    .equipment_item .sub .picture img {
      vertical-align: middle; }
    .equipment_item .sub .picture .number_tag {
      position: absolute;
      line-height: 12px;
      top: 10px;
      left: 10px; }
.equipment_item .main {
  float: left;
  width: 700px;
  border-bottom: 1px solid #e0e0e0; }
  .equipment_item .main .stars {
    margin: 24px 0 0 0;
    padding: 0 0 0 10px;
    width: 60px;
    float: left;
    line-height: 19px; }
  .equipment_item .main .name {
    margin: 24px 0 0 70px;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px; }
  .equipment_item .main .content {
    margin: 14px 0 0 0;
    padding: 0 0 0 10px;
    height: 40px;
    width: 100%;
    overflow: hidden; }
  .equipment_item .main ul.products {
    margin: 14px 0 0 0;
    padding: 0 0 10px 10px;
    width: 100%; }
    .equipment_item .main ul.products li {
      margin: 0 0 0 30px; }
    .equipment_item .main ul.products.abstract {
      height: 72px; }

form h3.as_label {
  margin: 0; }
form .field:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }
form .field input[type="text"].equipment_item_name_field {
  display: block;
  float: left;
  width: 100px;
  margin: 0 4px 0 0; }
form .field input[type="text"].equipment_item_content_field {
  display: block;
  float: left;
  width: 540px;
  margin: 0 4px 0 0; }
form .field .stars {
  margin: 4px 0;
  float: left; }
