%h1= t('operations.listing_models', :model => Peak.model_name.human)
- @peaks.each_with_index do |peak, i|
  = render :partial => 'peaks/peak', :object => peak, :locals => { :abstract => true, :number => i + 1 }

%br

= link_to t('operations.new_model', :model => Peak.model_name.human), new_peak_path
