- if controller_name == "main" && action_name == "index"
  %h1
    = link_to "YamaDB", root_path
- else
  %h2
    = link_to "YamaDB", root_path
%p#abstract
  To trek or climb Japanese mountains more safely,
